:root {
  --primary-color: #00adb5;
  --secondary-color: #30363F;
  --text-color: #ffffff;
  --bg-color: #222831;
  --white: #ffffff;
  --muted-text: #ccc;
  --feature-1-color: #ff9800;
  --feature-2-color: #2196f3;
  --feature-3-color: #ab47bc;
}
