.row {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.label {
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.privacyRadios {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 1rem;
}
.radioLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}
.radioInput {
  accent-color: var(--primary-color);
} 